body {
  background: #eee;
  font-family: "Nunito", sans-serif;
}

form {
  background: #FFF;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

form .field {
  display: grid;  
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form select { 
  width: 161px;
}

form select,
form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
  height: 30px;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #AD1457;
  border: 0;
  border-radius: 50%;
  padding: 0 10px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
